.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */

.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "chart1 chart2"
  "chart-3 statistics"
  "buttons .";
}

.chart1 { grid-area: chart1; }

.chart2 { grid-area: chart2; }

.chart-3 { 
  grid-area: chart-3;
  margin-top: 40px;
}

.statistics { 
  grid-area: statistics; 
  margin-top: 40px;
}

.buttons { 
  grid-area: buttons;
  margin-top: 40px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.chart-3 {
  height: 300px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}

th {
  position: sticky;
  background-color: white;
  z-index: 2;
  top: 0;
}